<li>
  <div class="info">
    <div class="count">
      <span class="star_count"><%= superstar.num_stars %></span>
      <span class="second"><%= superstar.num_seconds %></span>
    </div>
    <%= link_to superstar.user.name, user_path(superstar.user) %>
  </div>
</li>
