<% stylesheet 'stars' %>

<aside>
  <div class="box">
    <%= render :partial => "/stars/new_star_form" %>
  </div>
  <% if @last_weeks_superstars.present? %>
    <div class="box" id="last_week">
      <h2>Last Week's Superstars</h2>
      <%= render :partial => "superstars",
                 :locals => {:users => @last_weeks_superstars} %>
    </div>
  <% end %>
  <% if @current_superstars.present? %>
    <div class="box" id="this_week">
      <h2>This Week's Contenders</h2>
      <%= render :partial => "superstars",
                 :locals => {:users => @current_superstars} %>
    </div>
  <% end %>
</aside>

<ul id="recent_stars">
  <%= render :partial => '/stars/star', :collection => @stars %>
</ul>
