<% stylesheet 'stars' %>

<div id="superstars">
  <%= create_a_star_button %>
  <% if @last_weeks_superstars.any? %>
    <h2>Last Week's Superstars</h2>
    <%= render :partial => "superstars",
               :locals => {:users => @last_weeks_superstars} %>
  <% end %>
  <% if @current_superstars.any? %>
    <h2>This Week's Contenders</h2>
    <%= render :partial => "superstars",
               :locals => {:users => @current_superstars} %>
  <% end %>
</div>
<ul id="recent_stars">
  <%= render :partial => 'star', :collection => @stars %>
</ul>
