* {
  margin: 0px;
  padding: 0px;
}

body {
  background-attachment: fixed;
  background-image: url('/images/stars-background.png');
  color: #333;
  font-family: 'Droid serif', serif;
}

a {
  color: #528f97;
  text-decoration: none;
}

img {
  border: none;
}

ul, ol {
  list-style: none;
}

table th {
  text-align: left;
}

table td {
  padding: 3px;
  padding-right: 20px;
}

label {
  cursor: pointer;
}

#header {
  margin: 40px 0 20px;
}
#header .summary {
  color: #f9f4db;
  float: right;
}
#header .summary img {
  height: 30px;
  vertical-align: middle;
  width: 30px;
}

#container {
  background: rgba(32, 32, 30, 0.94);
  padding: 30px 30px 200px;
  margin: 0 auto;
  width: 960px;
}
#flash {
  background-color: #F80;
  border-bottom: 1px solid #000;
  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  color: #000;
  left: 0px;
  overflow: hidden;
  padding: 5px 20px;
  position: absolute;
  text-shadow: none;
  top: 5px;
  white-space: nowrap;
}

#top {
  background-image: url('/images/top_banner.png');
  top: 0px;
  height: 22px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#hills {
  background-image: url('/images/bottom_banner.png');
  background-color: transparent;
  bottom: 0;
  display: block;
  height: 163px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#stars {
  height: 783px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1000;
}

.button {
  background: #EEEEA3;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEEEA3), to(#EE4));
  background: -moz-linear-gradient(top, #EEEEA3, #EE4);
  border: 1px solid #FFF;
  color: #3B5998;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  margin: 10px 5px;
  padding: 5px 12px 5px 10px;
  text-shadow: none;
  vertical-align: middle;
}

.button:hover {
  cursor: pointer;
  box-shadow: rgba(255,255,255,.75) 0 0px 10px;
  -moz-box-shadow: rgba(255,255,255,.75) 0 0px 10px;
  -webkit-box-shadow: rgba(255,255,255,.75) 0 0px 10px;
}

.button:active {
  background: #CCCC83;
  background: -webkit-gradient(linear, left top, left bottom, from(#CCCC83), to(#CC2));
  background: -moz-linear-gradient(top, #CCCC83, #CC2);
}

.handwritten {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

.round {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.sheer {
  background-color: #e7dba6;
  padding: 15px;
}

.bordered {
  border: 1px solid rgba(255,255,255,.2);
}

.seconded {
  background-color: rgba(255,255,255,.3);
  border: 1px solid rgba(0,66,111,.8);
  font-size: 14px;
  padding: 5px;
}

.small {
  font-size: .8em;
}

.lone_message {
  margin: 150px auto;
  text-align: center;
  width: 400px;
}

.time {
  font-size: 12px;
  opacity: .9;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
